#countries{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.country{
    border: 1px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;

}
.country-name{
    font-size: large;
    color: magenta;
}
#countryDetails{
    text-align: center;
    padding: 20px;
}
#countryDetails img{
    width: 200px;
    
}
